@set clock 
{
  :root {
    display: block;
    flow:vertical;
  }
  div.row {
    display:block;
    white-space:nowrap;
    font-size: 14px;
    margin-left:57px;
  }
  div.row1 {
    margin-left:54px;
  }
  form {
    margin:12px;
  }
  label.title {
    display: block;
    margin-left:34px;
  }
}
