@set clock 
{
  :root {
    display: block;
    flow:vertical;
  }
  span.time { 
    display:inline-block; 
    white-space:nowrap; 
  }
  div.greeting {
    display:inline;
    white-space:nowrap;
    font-size: 17px;
  }
  button.index {
    font-size: 14px;
  }
}
